<header class="container" *ngIf="showHeader">
  <div class="navbar">


    <button class="menu-toggle" (click)="toggleMenu()">≡</button>

    <ul class="nav-links" [ngClass]="{ 'nav-active': menuActive }">
      <li><a routerLink="/home" (click)="closeMenu()">Home</a></li>
      <li><a routerLink="/scholarships" (click)="closeMenu()">Scholarships</a></li>
      <li><a routerLink="/internships" (click)="closeMenu()">Internships</a></li>
      <li><a routerLink="/blog" (click)="closeMenu()">Blog</a></li>
      <li><a routerLink="/about" (click)="closeMenu()">About</a></li>
    </ul>

    <div class="auth-buttons">
      <ng-container *ngIf="!isLoggedIn; else loggedInBlock">
        <a routerLink="/login" class="login-btn">Log In</a>
        <a routerLink="/signup" class="signup-btn">Sign Up</a>
      </ng-container>
      <ng-template #loggedInBlock>
        <button class="logout-btn" (click)="logout()">Log Out</button>
      </ng-template>
    </div>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>









